<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>startId</key>
		<integer>1</integer>
		<key>endId</key>
		<integer>2</integer>
		<key>cost</key>
		<integer>6</integer>
	</dict>
	<dict>
		<key>startId</key>
		<integer>4</integer>
		<key>endId</key>
		<integer>1</integer>
		<key>cost</key>
		<integer>3</integer>
	</dict>
	<dict>
		<key>startId</key>
		<integer>1</integer>
		<key>endId</key>
		<integer>5</integer>
		<key>cost</key>
		<integer>100</integer>
	</dict>
	<dict>
		<key>startId</key>
		<integer>4</integer>
		<key>endId</key>
		<integer>5</integer>
		<key>cost</key>
		<integer>2</integer>
	</dict>
	<dict>
		<key>startId</key>
		<integer>7</integer>
		<key>endId</key>
		<integer>5</integer>
		<key>cost</key>
		<integer>5</integer>
	</dict>
	<dict>
		<key>startId</key>
		<integer>5</integer>
		<key>endId</key>
		<integer>2</integer>
		<key>cost</key>
		<integer>6</integer>
	</dict>
	<dict>
		<key>startId</key>
		<integer>2</integer>
		<key>endId</key>
		<integer>3</integer>
		<key>cost</key>
		<integer>4</integer>
	</dict>
	<dict>
		<key>startId</key>
		<integer>2</integer>
		<key>endId</key>
		<integer>6</integer>
		<key>cost</key>
		<integer>3</integer>
	</dict>
	<dict>
		<key>startId</key>
		<integer>2</integer>
		<key>endId</key>
		<integer>8</integer>
		<key>cost</key>
		<integer>4</integer>
	</dict>
	<dict>
		<key>startId</key>
		<integer>7</integer>
		<key>endId</key>
		<integer>8</integer>
		<key>cost</key>
		<integer>2</integer>
	</dict>
	<dict>
		<key>startId</key>
		<integer>8</integer>
		<key>endId</key>
		<integer>6</integer>
		<key>cost</key>
		<integer>5</integer>
	</dict>
	<dict>
		<key>startId</key>
		<integer>6</integer>
		<key>endId</key>
		<integer>3</integer>
		<key>cost</key>
		<integer>3</integer>
	</dict>
</array>
</plist>
